@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --primaryColor: #22162b;
  --secondPrimaryColor: #e54f6d;
  --yellow: #f8c630;
  --backgroundColor: #faf9f9;
  --thirdPrimaryColor: #451f55;
  --forthPrimaryColor: #724e91;
}

button,
textarea,
input {
  border: none;
}

button:focus,
textarea:focus,
input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

body {
  background-color: var(--backgroundColor);
}

/* nav bar */

header {
  position: sticky;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--primaryColor);
  padding: 0px 20%;
  z-index: 1;
}

nav .container .status-bar {
  display: flex;
  font-size: 0.8rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 3rem;
  width: 100%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #fff;
  font-weight: 500;
}

nav ul li a span {
  margin-left: 0.5rem;
}

nav ul li a img {
  height: 60%;
}

.logo img {
  width: 80%;
}

.search-post {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.search {
  width: 80%;
}
form {
  display: flex;
}

.search input[type="text"] {
  height: 2rem;
  padding: 0 1rem;
  border: none;
  width: 100%;
  border-radius: 5px 0% 0% 5px;
}

.search button {
  color: white;
  background-color: var(--yellow);
  font-size: 1rem;
  border: none;
  height: 2rem;
  border-radius: 0% 5px 5px 0%;
  padding: 0.25rem 1rem;
}
.post {
  background-color: var(--secondPrimaryColor);
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  padding: 0 1em;
  border: none;
  border-radius: 5px;
}

.post img {
  height: 70%;
  width: auto;
  margin-right: 5px;
}
/* main index */

.index {
  padding: 0% 20%;
}

.banner img {
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
}

.navigation {
  background-color: white;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 5px;
}

.title-discovery {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

.card-container {
  display: flex;
}

.card-container::-webkit-scrollbar {
  width: 0;
}

.card-item {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 25%;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.card-item img {
  width: 100%;
}

.card-item .uni-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.card-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.list-rent {
  background-color: white;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px 10px;
}

.list-rent .title-rent {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}

.list-rent .rent-grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.rent-grid-item {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  margin: 5px;
  padding: 15px;
  font-size: 16px;
}

.rent-grid-item img {
  width: 100%;
  height: 50%;
}

.title-product {
  font-size: 1rem;
}

.price-product {
  font-size: 1.2rem;
  font-weight: 700;
  color: red;
}

.info {
  display: flex;
  font-size: 0.7rem;
  overflow: hidden;
  opacity: 0.5;
  font-weight: 600;
}

.rent-grid-item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1000px) {
  .index {
    max-width: 600px;
    margin: 0 auto;
    padding: unset;
  }
  nav ul {
    display: none;
  }

  nav .logo {
    width: 100%;
    text-align: center;
  }

  nav .logo img {
    height: 100%;
    width: auto;
  }

  nav .search-post .search {
    width: 100%;
  }

  nav .search-post .post {
    display: none;
  }

  .list-rent .rent-grid-container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }
}

@media only screen and (max-width: 600px) {
  .index {
    padding: unset;
    margin: auto;
  }

  .banner img {
    margin-top: 0;
    border-radius: 0;
  }

  .list-rent .title-rent,
  .title-discovery {
    font-size: 100%;
  }

  .list-rent .rent-grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .title-product {
    font-size: 100%;
  }

  .price-product {
    font-size: 120%;
  }

  .info {
    font-size: 80%;
  }

  .card-item {
    width: 50%;
  }
}

/* LOGIN */

.login-form {
  background-color: white;
  width: 600px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.login-form .title-login {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
}

.form-login form {
  display: block;
}

.form-login input[type="text"],
.form-login input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  margin: 15px 0;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.login-btn {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  width: 100%;
  background-color: var(--secondPrimaryColor);
  border-radius: 10px;
  border: none;
  padding: 8px 0;
  margin: 15px 0;
}

.other-button {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.other-button .forgot,
.other-button .register {
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  width: 49%;
  border: none;
  border-radius: 10px;
  padding: 5px 0;
}

.other-button .forgot {
  background-color: var(--thirdPrimaryColor);
}

.other-button .register {
  background-color: var(--forthPrimaryColor);
}

@media only screen and (max-width: 600px) {
  .login-form {
    width: 100%;
  }
}

/* register */

.or-login {
  text-align: center;
  margin-top: 3rem;
}

.or-login > :first-child {
  opacity: 0.5;
}

.or-login .is-account a {
  color: #00a3ff;
}

/* manage post */

.manage-post {
  padding: 0 20%;
}

.manage-post .manage-title {
  background-color: white;
  padding-top: 20px;
  padding-left: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.info-manage {
  background-color: white;
  padding-top: 20px;
  margin-top: 5px;
}

.info-manage .profile {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile .profile-detail {
  margin-left: 5px;
}

.profile .profile-detail .name {
  font-weight: 700;
  font-size: 1.4rem;
}

.profile .profile-detail a {
  font-size: 0.8rem;
  color: #00a3ff;
}

.post-status-nav {
  margin-top: 5px;
  padding-left: 20px;
  display: flex;
  align-items: flex-end;
  border-top: 2px solid var(--backgroundColor);
}

.post-status-nav * {
  margin-right: 10px;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 3px;
}

.post-status-nav .active {
  font-weight: 700;
  opacity: 1;
  border-bottom: 3px solid var(--yellow);
  padding: 0px;
}

.info-posted {
  display: flex;
  background-color: white;
  margin-top: 10px;
  height: 10rem;
  padding: 15px;
}

.info-posted > img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.info-posted-detail {
  margin-left: 10px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-posted-detail > * {
  overflow: hidden;
}

.info-posted-detail h3 {
  color: red;
  font-size: 1.4rem;
}

.time,
.location {
  display: flex;
  opacity: 0.5;
  font-size: 0.8rem;
}

.time img,
.location img {
  margin-right: 5px;
}

.option-posted {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
}

.option-posted .delete-posted,
.option-posted .extends-posted {
  display: flex;
  width: 49.8%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  opacity: 0.75;
}

.option-posted .delete-posted *,
.option-posted .extends-posted * {
  cursor: pointer;
}

.option-posted .delete-posted img,
.option-posted .extends-posted img {
  margin-right: 5px;
}

@media only screen and (max-width: 1000px) {
  .manage-post {
    max-width: 600px;
    margin: 0 auto;
    padding: unset;
  }
}

@media only screen and (max-width: 600px) {
  .post-status-nav {
    font-size: 0.7rem;
  }
  .info-posted-detail {
    width: 100%;
  }
}

/* product */

.product {
  padding: 0 20%;
}

.product .head {
  display: flex;
  background-color: white;
  padding: 10px;
  text-transform: uppercase;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product .head .back,
.product .head .next {
  display: flex;
  font-size: 0.8rem;
  opacity: 0.7;
  align-items: center;
}

.product .head .back img,
.product .head .next img {
  width: 20px;
}

.product .head .back img {
  transform: scaleX(-1);
}

.product .head .back:hover,
.product .head .next:hover {
  cursor: pointer;
}

.product-content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.product-content-detail {
  width: 70%;
}

.product-content-detail .info-room {
  background-color: white;
  border-radius: 10px;
  padding: 10px 20px;
}

.product-content-detail .info-room .image-room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-room img {
  width: 80%;
}

.product-content-detail .info-room h3 {
  margin-top: 10px;
  text-transform: uppercase;
}

.save-title {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.save-post {
  display: flex;
  background-color: var(--secondPrimaryColor);
  color: white;
  text-transform: uppercase;
  padding: 0 5px;
  align-items: center;
  border-radius: 10px;
  border: none;
}

.save-post:hover {
  cursor: pointer;
}

.save-post * {
  margin: 5px;
}

.profile-responsive {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  display: none;
}

.profile-responsive .profile {
  display: flex;
  align-items: center;
}

.profile-responsive .profile img {
  width: 50px;
  margin-right: 10px;
}

.profile-responsive a {
  color: var(--yellow);
  display: flex;
  align-items: center;
}

.product-content-detail .info-room .price {
  color: red;
  font-size: 1.4rem;
}

.location-room {
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
}

.location-room p {
  margin-left: 10px;
}

.more-info-container {
  display: grid;
  grid-template-columns: 50% 50%;
  opacity: 0.7;
  grid-row-gap: 15px;
  margin-top: 15px;
}

.more-info-container * {
  display: flex;
  align-items: center;
}

.more-info-container * p {
  margin-left: 10px;
}

.info-renter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 29%;
  background-color: white;
  padding: 15px;
  height: 300px;
}

.info-renter .profile {
  display: flex;
  align-items: center;
}

.info-renter .profile p {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 10px;
}

.view-profile {
  background-color: var(--secondPrimaryColor);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.view-profile p {
  margin-left: 10px;
}

.contact-rate {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.contact-rate .contact,
.contact-rate .rate {
  background-color: var(--primaryColor);
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.contact-rate .contact {
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.contact-rate .rate {
  border-radius: 0px 10px 10px 0;
  color: var(--yellow);
  cursor: pointer;
}

.contact-rate .rate i:not(:last-child) {
  margin-right: 3px;
}

.evaluate {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
}

.evaluate i {
  color: var(--secondPrimaryColor);
}

.evaluate > h3 {
  text-transform: uppercase;
}

.evaluate .voted {
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.evaluate .voted .percent-voted {
  color: var(--secondPrimaryColor);
}

.evaluate .voted .star-voted {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.evaluate .voted .star-voted button {
  color: black;
  background-color: white;
  padding: 0 10px;
  border-radius: 10px;
  border: 0.5px solid var(--secondPrimaryColor);
}

.evaluate .voted .star-voted button i {
  color: var(--yellow);
}

.evaluate .voted .star-voted .active {
  background-color: var(--secondPrimaryColor);
  color: white;
}

.comment {
  margin-top: 20px;
}

.comment .profile-comment {
  display: flex;
  align-items: center;
}

.comment .profile-comment img {
  width: 50px;
  margin-right: 10px;
}

.comment .name-star p {
  font-weight: 700;
}

.comment .content-comment {
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 5px;
}

.evaluate form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
}

.evaluate form textarea {
  resize: none;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.evaluate form button {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondPrimaryColor);
  color: white;
  font-size: 1rem;
}

.report-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.report-btn button {
  background-color: var(--yellow);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

@media only screen and (max-width: 1440px) {
  .product {
    width: 870px;
    padding: unset;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .product {
    width: 100%;
  }
  .product-content-detail {
    width: 100%;
  }

  .info-renter {
    display: none;
  }

  .profile-responsive {
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .more-info-container {
    grid-template-columns: 100%;
  }
}

/* post-container */

.post-container {
  padding: 0 20%;
  align-items: center;
}

.post-container section:first-child {
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.post-container section:first-child::after {
  content: "";
  background-color: var(--yellow);
  height: 3px;
  position: absolute;
  top: 0;
}

.post-container #back-button {
  transform: scaleX(-1);
  width: 20px;
}

.post-container section:first-child h3 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.post-container .head-address::after {
  width: 20%;
}

.post-container .head-info::after {
  width: 40%;
}

.post-container .head-infraction::after {
  width: 60%;
}

.post-container .head-image::after {
  width: 80%;
}

.post-container .head-title::after {
  width: 100%;
}

.form-post {
  background-color: white;
  margin-top: 10px;
  border-radius: 10px;
}

.form-post form {
  display: block;
  padding: 10px;
}

.form-post form select,
.form-post form input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-post form select:focus,
.form-post form input:focus {
  outline: none;
}

form label {
  font-weight: 700;
  font-size: 0.9rem;
}

form label span {
  color: red;
}

.expand-address {
  display: flex;
  justify-content: space-between;
}

.expand-address .number-home {
  width: 20%;
}

.expand-address .street {
  width: 79%;
}

.form-post .near-location {
  display: flex;
  flex-direction: column;
}

.form-post .expand-location {
  float: right;
  background-color: var(--secondPrimaryColor);
  padding: 0 10px;
  border-radius: 5px;
  align-self: flex-end;
}

.form-post .expand-location i {
  color: white;
  font-size: 1.4rem;
}

.form-post .btn-container,
.image-post-container .btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-post .continue-address-btn,
.image-post-container .continue-address-btn {
  width: 60%;
  color: white;
  background-color: var(--secondPrimaryColor);
  border-radius: 10px;
  padding: 8px;
  font-size: 1.1rem;
}

.form-room {
  display: flex;
  justify-content: space-between;
}

.form-room .type-room {
  width: 79%;
}

.form-room .amount-room {
  width: 20%;
}

.form-post .price-room {
  display: flex;
  justify-content: space-between;
}

.form-post .price-room .price {
  width: 80%;
}

.form-post .price-room .unit-time {
  align-self: flex-end;
}

.form-post .price-room span {
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.form-post .price-room .air-conditioner,
.form-post .price-room .balcony {
  width: 49%;
}

.post-container .image-post-container {
  background-color: white;
  margin-top: 10px;
  padding: 20px 30px;
}

.image-upload > input {
  display: none;
}

.image-upload .upload-icon {
  border: 1px solid var(--secondPrimaryColor);
  margin-right: 10px;
}

.image-upload .upload-icon .icon {
  width: 150px;
  height: 150px;
  padding: 10px;
  cursor: pointer;
}

.image-uploaded {
  border: 1px solid var(--secondPrimaryColor);
  margin-right: 10px;
}

.image-uploaded img {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.note {
  background-color: var(--thirdPrimaryColor);
  border-radius: 10px;
  color: white;
  opacity: 0.6;
  padding: 20px;
  margin-top: 50px;
}

.duration-post .input-duration {
  display: flex;
  justify-content: space-between;
}

.duration-post .input-duration > * {
  width: 23%;
}

#form-description textarea {
  resize: none;
  border-radius: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1000px) {
  .post-container {
    width: 600px;
    padding: unset;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .post-container {
    width: 100%;
    padding: unset;
    margin: 0 auto;
  }
}

/* profile */

.profile-page {
  padding: 0 20%;
}

.profile-page .head-profile {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

.info-profile-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.info-profile-detail > * {
  border-radius: 10px;
  background-color: white;
}

.info-profile-detail .name-avt {
  width: 40%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.info-profile-detail .info-details {
  width: 59%;
  padding: 10px 20px;
}

.info-profile-detail .info-details > * {
  display: flex;
  margin-bottom: 15px;
  opacity: .6;
}

.info-profile-detail .info-details * {
  margin-right: 5px;
}

.name-avt .name {
  margin-left: 10px;
}

.name-avt .name h3 {
  margin-bottom: 10px;
}

.name-avt a {
  background-color: var(--secondPrimaryColor);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.posted-profile {
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}

.posted-profile .title-post-amount {
  display: flex;
  align-items: center;
}

.posted-profile .title-post-amount p {
  opacity: .5;
  margin-left: 10px;
}

.all-posted .info-posted {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1140px) {
  .name-avt {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .profile-page {
    width: 600px;
    padding: unset;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .profile-page {
    width: 100%;
  }
  .info-profile-detail {
    flex-direction: column;
  }

  .info-profile-detail .name-avt,
  .info-profile-detail .info-details {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}



